@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F7F9F2;
}
h1 {
  color: #6d5c00;
  font-style: "Monsterrat" sans-serif;
}
.wrp::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.container:hover > .card {
  cursor: pointer;
  transform: rotateY(360deg);
}
.card {
  transition: transform 1000ms;
  transform-style: preserve-3d;

  animation-duration: 3s;
  animation-name: rotate;
}
.animate {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
}
.back {
}
.front {
  background-image: url("/cust.jpg");
  transform: rotateY(180deg);
}
.masonrypic {
  background-image: url("/cust.jpg");
}
.custname {
  color: #6d5c00;
}
